body {
  margin: 0;
}
#loading {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index:100;
  position: fixed;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#loading .world {
  -webkit-perspective: 800px;
          perspective: 800px;
  width: 100vh;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#loading .cube {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 10vh;
  height: 10vh;
  position: relative;
  -webkit-animation: rotator 4.5s linear infinite;
          animation: rotator 4.5s linear infinite;
  outline: 0;
}
#loading .cube * {
  background: #000;
  box-shadow: 0 0 3vh currentColor;
  -webkit-transition: background 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  transition: background 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}
#loading .cube:hover * {
  background: currentColor;
  box-shadow: 0 0 20vh currentColor;
}
#loading .cube .cube__front {
  color: deeppink;
  -webkit-transform: translateZ(5vh);
          transform: translateZ(5vh);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#loading .cube .cube__right {
  color: lightcoral;
  -webkit-transform: rotateY(90deg) translateZ(5vh);
          transform: rotateY(90deg) translateZ(5vh);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#loading .cube .cube__left {
  color: skyblue;
  -webkit-transform: rotateY(270deg) translateZ(5vh);
          transform: rotateY(270deg) translateZ(5vh);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#loading .cube .cube__back {
  color: seagreen;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(180deg) translateZ(5vh);
          transform: rotateY(180deg) translateZ(5vh);
}
#loading .cube .cube__top {
  color: mediumseagreen;
  -webkit-transform: rotateX(90deg) translateZ(5vh);
          transform: rotateX(90deg) translateZ(5vh);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#loading .cube .cube__bottom {
  color: dodgerblue;
  -webkit-transform: rotateX(270deg) translateZ(5vh);
          transform: rotateX(270deg) translateZ(5vh);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
            transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
            transform: rotateX(360deg) rotateY(360deg);
  }
}