
.header{
	width: 100%;
	background: #79d55e;
}
.header h5{
	color: #f16e2e;
	margin: 0;
	text-align: center;
	font-size: 1rem;
	padding-top:2rem;
}
.header h1{
	font-size: 3rem;
	text-align: center;
	color: #ffffff;
	margin: 0;
	padding: 0;
}
.header p{
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	padding-bottom:2rem;
	color: #5c5d5a;
}
.nav{
	width: 100%;
	background: #ffffff;
}
h4{
	text-align: center;
	margin: 0;
	font-size: 1rem;
	color: #f16e2e;
	padding-top: 2rem;
}
h1{
	text-align: center;
	margin: 0;
	padding-top: 1rem;
}
.nav p{
	font-size: 1rem;
	text-align: center;
	margin: 0;
	padding-top: 1rem;
	padding-bottom:1rem;
	padding-right: 1rem;
}
.article{
	width: 100%;
}
.category{
	text-align: center;
	font-size: 1.5rem;
	color: #79d55e;
	clear:both;
}
.tese-list,.xinyang-list{
	list-style:none;
	margin: 0;
	padding: 0;
}

.info-list{
	clear:both;
	list-style:none;
}
.tese-list li,.xinyang-list li{
	float:left;
	padding-left: 1.5rem;
}
.info-list li{
	float:left;
	padding-left:3rem;
	padding-top: 2rem;
}
strong{
	color:#040404;
}
span{
	color:#888888;
}
.Welcome{
padding-top: 1.5rem;
padding-bottom: 3rem;
text-align:center;
font-size: 1.5rem;
color: #d15724;
font-weight:bold;
clear:both;
}
.list-center{
	text-align:center;
}
