
.slide-1 {
    background-image: url(../images/background.png);
    background-size: 100% 100%
}

.slide-1 .item-image {
    width: 18rem;
    height: 18rem;
    background-position: center;
    background-size: contain;
    background-image: url(../images/one-yuan.png);
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    margin: auto;
}

.slide-1 .item-text-1, .slide-1 .item-text-2, .slide-1 .item-text-3 {
    margin: 0 auto;
    font-weight: 700;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center
}

.slide-1 .item-text-1 {

}

.slide-1 .item-text-2 {
    width: 18rem;
    color: #e7c943;
    font-size: 1.5rem;
    top: 26rem
}

.slide-1 .item-text-2 img {
    width: 1.25rem;
    height: 1.25rem
}

.slide-1 .item-text-3 {
    width: 18rem;
    color: #fff;
    font-size: 1rem;
    top: 28rem
}



.slide-2, .slide-3 {
    background-image: url(../images/background.png);
    background-size: 100% 100%
}
.slide-2 .item-text-1, .slide-3 .item-text-1 {
  background-image: url(/images/caidai.jpg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 3.5em;
  color: #030303;
  font-size: 1.2rem;
  font-weight: 700;
  position: absolute;
  padding-top: .9rem;
  left: 25%;
  margin: 0 auto;
  text-align: center;
}

.slide-2 .item-text-2, .slide-3 .item-text-2 {
  width: 96%;
height: 98%;
position: absolute;
top: 1%;
left: 2%;
color: #e7c943;
font-size: 1.5rem;
border: 0.1rem solid yellow;
}

.duncai-list, .tese-list {
    width: 100%;
    height: 100%;
    list-style: none;
    margin-top: 21%;
    padding: 0
}

.tese-list li {
    width: 30%;
    float: left;
    margin-left: 2.5%;
    margin-top: .5%;
    text-align: center;
}

.duncai-list p, .tese-list p {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: .6rem;
    font-weight: 700;
}

.duncai-list span, .tese-list span {
    font-size: .6rem;
    color: red;
    padding: 0;
    margin: 0;
}

.duncai-list li {
    width: 30%;
    margin-left: 2.5%;
    margin-top: .5%;
    float: left;
    text-align: center;
}

//4

.slide-4 {
    background-image: url(../images/background.png);
    background-size: 100% 100%
}

.slide-4 .item-text-1 {
    background-image: url(/images/caidai.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50%;
    height: 5.5rem;
    color: #030303;
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    padding-top: .7rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.slide-4 .item-text-2 {
  width: 96%;
height: 98%;
position: absolute;
top: 1%;
left: 2%;
color: #e7c943;
font-size: 1.5rem;
border: 0.1rem solid yellow;
}

.slide-4 .item-text-3 {
    color: #ffeb33;
    font-size: 1.5rem;
    padding-top:5rem;
    padding-left: .8rem;
    margin: 0;
}
.slide-4 .item-text-4 {
    color: rgba(255, 244, 255, 0.97);
    font-size: 1rem;
    text-indent: 2em;
    padding:.5rem;
}
.slide-4 .item-text-5 {
    width:90%;
    height: 40%;
    margin: 0 auto;
    background-image: url(/images/hometown.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
//5

.slide-5 {
    background-image: url(../images/background.png);
    background-size: 100% 100%
}

.slide-5 .item-text-1 {
  background-image: url(/images/caidai.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 50%;
  height: 5.5rem;
  color: #030303;
  font-size: 1rem;
  font-weight: 700;
  position: absolute;
  padding-top: .7rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.slide-5 .item-text-2 {
  width: 96%;
height: 98%;
position: absolute;
top: 1%;
left: 2%;
color: #e7c943;
font-size: 1.5rem;
border: 0.1rem solid yellow;
}
.slide-5 .item-text-3 {
    padding-top:1.5rem;
    width: 80%;
}
.slide-5-list{
    list-style: none;
    margin: 5rem;
    padding: 0;
}
.slide-5-listtop{
    margin: 0 auto;
}
.slide-5-listleft{
    width: 50%;
    height: 7rem;
    float: left;
}
.slide-5-listright{
    width: 50%;
    height: 7rem;
    float: right;
}
.slide-5 .item-text-4 {
    clear: both;
    width: 94%;
    height:4rem;
    position: absolute;
    background-color: #feffc5;
    padding: .7rem;
    font-size: 1.1rem;
    font-weight: 700;
    left: 3%;
    top:68%;
    color: #030303;

}
//6

.slide-6 {
    background-image: url(../images/background.png);
    background-size: 100% 100%
}

.slide-6 .item-text-1 {
  background-image: url(/images/caidai.jpg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 3.5em;
  color: #030303;
  font-size: 1.2rem;
  font-weight: 700;
  position: absolute;
  padding-top: .9rem;
  left: 25%;
  margin: 0 auto;
  text-align: center;
}

.slide-6 .item-text-2 {
  width: 96%;
height: 98%;
position: absolute;
top: 1%;
left: 2%;
color: #e7c943;
font-size: 1.5rem;
border: 0.1rem solid yellow;
}

.slide-6 .item-text-3 {
    color: #ffeb33;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 5rem;
}
.slide-6 .item-text-4 {
    width: 90%;
    height: 30%;
    border: .1rem solid yellow;
    position: absolute;
    left: 5%;
    top:18%;
}
.slide-6 .item-text-5 {
    width: 80%;
    font-size: .8rem;
    position: absolute;
    top:50%;
    left: 10%;
    text-indent: 2em;
    text-align: center;
}
