//.slide-2 {
//    background-image: url('../images/background.png');
//    background-size:100% 100%;
//    background-repeat: no-repeat;
//    .item-image {
//        width: 18rem;
//        height: 18rem;
//        background-position: center;
//        background-size: contain;
//        background-repeat: no-repeat;
//        position: absolute;
//        top: 2rem;
//        left: 0;
//        right: 0;
//        margin: auto;
//        background-image: url('../images/one-yuan.png');
//    }
//    .item-text-1 {
//        width: 18rem;
//        color: #fff;
//        font-size: 1.25rem;
//        font-weight: bold;
//        position: absolute;
//        top: 24rem;
//        left: 0;
//        right: 0;
//        margin: 0 auto;
//        text-align: center;
//    }
//    .item-text-2 {
//        width: 18rem;
//        color: rgb(231, 201, 67);
//        font-size: 1.5rem;
//        font-weight: bold;
//        position: absolute;
//        top: 26rem;
//        left: 0;
//        right: 0;
//        margin: 0 auto;
//        text-align: center;
//    }
//    .item-text-3 {
//        width: 18rem;
//        color: #fff;
//        font-size: 1rem;
//        font-weight: bold;
//        position: absolute;
//        top: 28rem;
//        left: 0;
//        right: 0;
//        margin: 0 auto;
//        text-align: center;
//    }
//}
